<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mainpage.css') }}">
</head>
<body>

<div class="navigation">
    <nav class="navbar">
        <a href="{{url_for('mainpage')}}">Home</a>
        <a href="{{url_for('services')}}">Services</a>
        <a href="{{url_for('tip')}}">Tips and Treats</a>
        <a href="{{url_for('About')}}">About</a>
    </nav>
</div>

<div class="Hero_container">
    <div class="typing">
        <h1>
            <span class="type">Furry-આવજો</span>
        </h1>
    </div>
</div>

<div class="About_us_title">
    <p>About Us</p>
</div>

<div class="grid_container">
    <div class="onhover">
        <img src="https://images.unsplash.com/photo-1612812166620-a072f77ec45b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=405&q=80"
             alt="cat"/>
    </div>
    <div class="text">
        <p>
            Despite the cat’s popularity as a companion animal, <br/>
            little is known about its bond and relationship with owners. <br><br>
            The aim of this study was to identify and characterize the different<br><br>
            types of relationship that cats might establish with their owners,<br><br>
            Despite the cat’s popularity as a companion animal, <br/>
            little is known about its bond and relationship with owners. <br><br>
            The aim of this study was to identify and characterize the different<br><br>
            types of relationship that cats might establish with their owners,<br><br>
            Despite the cat’s popularity as a companion animal, <br/>
            little is known about its bond and relationship with owners. <br><br>
            The aim of this study was to identify and characterize the different<br><br>
            types of relationship that cats might establish with their owners,<br><br>
        </p>
    </div>
</div>

<div class="Featured_services_title">
    <p>Featured Services</p>
</div>

<div class="Featured_container_grid">
    <!-- Card One -->
    <div class="card">
        <div class="card-img">
            <img src="https://images.unsplash.com/photo-1558788353-f76d92427f16?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1938&q=80">
        </div>
        <div class="card-info">
            <p class="text-title">Gromming Pakage</p>
            <p class="text-body">Bathing and Hair Cutting</p>
        </div>
        <div class="card-footer">
            <span class="text-title">$499.49</span>
            <div class="card-button">
                <a href="/services" class="card-button">Book Now</a>
            </div>
        </div>
    </div>
    <!-- Card Two -->
    <div class="card">
        <div class="card-img">
            <img src="https://images.unsplash.com/photo-1592194996308-7b43878e84a6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1887&q=80">
        </div>
        <div class="card-info">
            <p class="text-title">Full Check Up</p>
            <p class="text-body">Basic check up and deworming</p>
        </div>
        <div class="card-footer">
            <span class="text-title">$499.49</span>
            <div class="card-button">
                <a href="/services" class="card-button">Book Now</a>
            </div>
        </div>
    </div>
    <!-- Card Three -->
    <div class="card">
        <div class="card-img">
            <img src="https://images.unsplash.com/photo-1537151625747-768eb6cf92b2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1885&q=80">
        </div>
        <div class="card-info">
            <p class="text-title">Dental Care Package</p>
            <p class="text-body">Scaling</p>
        </div>
        <div class="card-footer">
            <span class="text-title">$499.49</span>
            <div class="card-button">
                <a href="/services" class="card-button">Book Now</a>
            </div>
        </div>
    </div>
</div>

<div class="Image_gallery_title">
    <p>Our Family</p>
</div>

<div class="img_container">
    <img src="https://plus.unsplash.com/premium_photo-1677165483776-3e2e85595746?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1887&q=80"
         alt="Herd of horses">
    <img src="https://images.unsplash.com/photo-1644675272883-0c4d582528d8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80"
         alt="Baby Elephant">
    <img src="https://cdn-eaekd.nitrocdn.com/CxTeoSPKdjdqTSxLEEGaKiGroHlKASqH/assets/mobile/optimized/rev-d765668/photos/deb7de30f6aee3f171e2e6895fe80f24.vet-with-dog-and-cat-puppy-and-kitten-at-doctor-picture-id1171733307"
         alt="Koi Fish">
    <img src="https://static.wixstatic.com/media/103c6c_18b4e03386c344608b60f15dd425b9d9~mv2.png/v1/fit/w_1000%2Ch_1000%2Cal_c%2Cq_80,enc_auto/file.jpg"
         alt="Ibis Bird">
    <img src="https://plus.unsplash.com/premium_photo-1661962453590-5653f2283a5f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8dmV0fGVufDB8fDB8fHww&w=1000&q=80"
         alt="Lemur">
    <img src="https://cdcssl.ibsrv.net/ibimg/smb/839x560_80/webmgr/1t/c/7/2c.jpg.webp" alt="Berber Monkeys">
</div>

<footer class="footer">
    <div class="footer-container">
        <div class="footer-logo">
            <img src="https://creazilla-store.fra1.digitaloceanspaces.com/cliparts/3514977/dog-logo-mascot-clipart-xl.png">
        </div>
        <div class="footer-links">
            <ul>
                <li><a href="{{url_for('mainpage')}}">Home</a></li>
                <li><a href="{{url_for('services')}}">Services</a></li>
                <li><a href="{{url_for('tip')}}">Tips and Treats</a></li>
                <li><a href="{{url_for('About')}}">About</a></li>
            </ul>
        </div>
        <div class="footer-contact">
            <p>Contact Us:</p>
            <p>Email: info@petservice.com</p>
            <p>Phone: +1 (123) 456-7890</p>
        </div>
    </div>
</footer>

<script src="{{ url_for('static', filename='Script.js') }}"></script>
</body>
</html>
